*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color:  #10A4B0;
    color:#fff;
    font-family: poppins;
}

.main-div
{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:40px;
    
   
}

.heading
{
    background-color: #D64B0A;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.body
{
    color:#000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:40px;
}

.body input
{
    outline: none;
    border-radius: 8px;
    border:none;
    width:300px;
    text-align: center;
    height: 40px;
    font-size: 17px;
}

.body button
{
    width: 120px;
    height: 45px;
    border-radius: 12px;
    border: none;
    font-family: poppins;
    font-weight:600 ;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    transition: transform 0.5s ease;
}

.body button:hover
{
    transform: scale(1.1);
}

span
{
    font-size: 20px;
    font-weight: 800;
}